
 <div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div class="right-side-main">
      <div class="row">
        <div class="right-description col-lg-7 col-md-12 col-sm-12">
          <h2{{ title_attributes }}>{{ label }}</h2>
          <p>{{ content.body }}</p>
        </div>
        <div class="right-video col-sm-12 col-lg-5 col-md-12 ">
          <div class="video-container">
            <img class="overlay-image" src="{{ base_path ~ directory }}/images/agencies.png" alt="Agencies">
            <video id="video-player" class="video-player" controls>
              <source src="{{ file_url(content.field_upload_video['#items'].entity.uri.0.value) }}" type="video/mp4">
            </video>
            <button class="play-button"><img src="{{ base_path ~ directory }}/images/video-play-btn.png" alt="PlayButton"></button>
          </div>
        </div>
      </div>
      
    </div>
  {% endif %}
  {{ title_suffix }}
</div>

